.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg-fff {
  background-color: #fff !important;
}

.w-40 {
  width: 40%;
}

/* Áp dụng cho textarea trong modal-body */
.modal-body textarea {
  width: 100%;
  min-height: 500px !important; /* để không quá nhỏ */
}

/* Màn hình nhỏ (điện thoại) */
@media (max-width: 768px) {
  .modal-body textarea {
    min-height: 400px !important; /* để không quá nhỏ */
  }
}

.minHeight-300 {min-height: 300px;}
.minHeight-400 {min-height: 400px;}
.minHeight-500 {min-height: 500px;}
.minHeight-600 {min-height: 600px;}
.minHeight-700 {min-height: 700px;}

html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}
